@import "../component/frame";

.entry-container {
  height: 100%;
  .container-page {
    height: 100%;
    .section{
      ul>li{
      }
    }
    @mixin page-bg($num:1) {
      $imagePath: "/image/background/bg" +$num+ ".jpg";
      background-image: url($imagePath);
      height: 100%;
    }
    @for $i from 1 through 4 {
      //循环生成4个page-bg
      .page-bg#{$i} {
        @include page-bg($i);
      }
    }
  }
}