<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>发生错误</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <% if(error){ %>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    <% } %>
</div>
</body>
</html>