
@import "reset.dianda";

@import "lib.dianda";

.app-context {
  margin-top: 51px;
}
.app-footer{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  color: #767676;
  border-top: 1px solid #e5e5e5;

}