<nav class="app-header navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">店达前端</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Index <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/javascript">JavaScript</a></li>
                        <li><a href="/html5">html5</a></li>
                        <li><a href="/css3">css3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/node">NodeJS</a></li>
                        <li><a href="/redis">Redis</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">ElasticSearch</a></li>
                    </ul>
                </li>
                <li><a title="更新日志">纪念碑</a></li>
                <li><a title="常用说明">FAQs</a></li>
                <li><a title="爬坑专用">梯子</a></li>
                <li><a href="/future" title="技术前瞻">瞭望塔</a></li>
                <li><a title="程序猿/文艺码农的那点事儿">情怀</a></li>
                <li><a href="/dianda" title="入职说明">团队</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- todo 兼容性提示栏 -->