<div class="container">
    <div class="col-md-12">
        <div class="col-md-8">
            <!--  特此感谢：参考文献/使用的技术 -->
            <div class="panel panel-info">
                <div class="panel-heading ta-l">
                    <h4>特此感谢
                        <small class="ml-20">本页面使用的技术</small>
                    </h4>
                </div>
                <div class="panel-body">
                    <%- dweb.stt(tech) %>
                </div>
                <div class="panel-footer">
                    感谢<a href="http://www.bootcdn.cn/">BootCDN</a>提供cdn支持
                </div>
            </div>
        </div>
        <!--  todo 源码预览 -->
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading ta-l">
                    <h4>源码预览
                        <small class="ml-20">本页源代码</small>
                    </h4>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>