<div class="container-page" id="full_page">
    <div class="page-bg1 section">11</div>
    <div class="page-bg2 section">22</div>
    <div class="page-bg3 section">33</div>
    <div class="page-bg4 section">44</div>
</div>