<div class="container-page" id="full_page">
    <div class="page-bg1 section">
        <h4>基础工具准备</h4>
        <ol>
            <li>加入[店达技术团队QQ群(308723915)]</li>
            <li>获取svn账号，掌握svn的基本应用(update/commit/merge)，获取svn库地址</li>
            <li>获取禅道账号，掌握禅道的基本用法，处理任务、bug</li>
            <li>掌握GitHub的基本用法，掌握MarkDown的语法</li>
            <li>掌握WebStorm的用法、常用快捷键</li>
        </ol>
    </div>
    <div class="page-bg2 section">
        <h4>进阶工具准备</h4>
        <ol>
            <li>安装并使用sass-cli</li>
            <li>粗读sass入门、精读sass语法</li>
            <li>配置WebStorm中sass的file watcher，了解sass生成css的简单机制</li>
            <li>配置WebStorm中browserify的file watcher，了解browserify的用法</li>
            <li>安装或使用node，掌握npm的用法</li>
            <li>了解webpack的打包原理，掌握webpack的用法</li>
        </ol>
    </div>
    <div class="page-bg3 section">
        <h4>基础技术准备</h4>
        <ol>
            <li>了解前端模块化的发展</li>
            <li>获知前端项目组针对前端模块化的解决方案</li>
            <li>获知前端项目组的工作流、工作安排</li>
            <li>获知node中项目目录的文档结构</li>
            <li>获知ejs的用法，router、service层的简单开发方法</li>
        </ol>
    </div>
    <div class="page-bg4 section">
        <h4>进阶技术实现</h4>
        <ol>
            <li>使用模块化开发本项目中未完成的技术模块</li>
            <li>参与前端项目开发</li>
        </ol>
    </div>
</div>